name: Günlük Staj Tarayıcı (Selenium)

on:
  schedule:
    - cron: '0 6,18 * * *' # Sabah 09:00 ve Akşam 21:00
  workflow_dispatch:

jobs:
  run-scraper:
    runs-on: ubuntu-latest

    steps:
      - name: Kodları Çek
        uses: actions/checkout@v3

      - name: Python Kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Chrome Tarayıcıyı Hazırla
        uses: browser-actions/setup-chrome@latest

      - name: Gerekli Kütüphaneleri Yükle
        run: |
          pip install selenium webdriver-manager requests beautifulsoup4

      - name: Botu Çalıştır
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: python main.py
